// includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/
em.bold {
	color:green;
}
// Import GOV.UK frontend toolkit
@import "node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/colours";
@import "measurements";
@import "conditionals";
@import "shims";
@import "typography";
@import "css3";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";
@import "grid_layout";

// Helpers
@import "elements/helpers";

// Reset
@import "elements/reset";

// Typography
@import "elements/typography";

// Layout
@import "elements/layout";

// Modules
// ==========================================================================

// Forms
@import "elements/forms";

// Tables
@import "elements/tables";

// Buttons
@import "elements/buttons";

// Lists
@import "elements/lists";

// Panels
@import "elements/panels";

// Colours
@import "elements/colours";

// ADDED by Paul Pod
// =================

em.highlight {
	font-style: normal;
	color: #0076c0;
}

.list-bullet {
	margin-bottom: 45px;
}
