<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Turn off paper notifications</title>
  </head>

  <body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
          <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
              <td width="100%" bgcolor="#0b0c0c" valign="middle">
                <img src="http://govuk-prototyping.herokuapp.com/hmrc-email/govuk_logotype_email.png" alt="GOV.UK" border="0">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
      <tr>
        <td width="100%">
          <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
              <td width="100%" class="header" style="padding-top: 10px;" colspan="2">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                  <tr>
                    <td width="6px" height="26px" style="border-left: 2px solid #009390;">&nbsp;</td>
                    <td width="26px"><img src="http://govuk-prototyping.herokuapp.com/hmrc-email/hmrc_crest_18px.png" alt="HMRC Logo" style="width: auto; height: 26px; display:block;"></td>
                    <td width="7px">&nbsp;</td>
                    <td>
                      <h2 class="organisation-logo" style="font-size: 18px; line-height: 20px; font-weight: 300; margin: 0"><span>HM Revenue &amp; Customs</span></h2>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td width="75%"><h1 class="email" style="font-weight: 700; font-size: 48px; line-height: 1.041666667; margin: 30px 0;">Verify your email address</h1></td>
              <td width="25%">&nbsp;</td>
            </tr>
            <tr>
              <td width="75%">
                <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You’ve signed up for Self Assessment email reminders.</p>

                <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You must verify your email address to activate the service.</p>

                <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">To verify your email - click the link below.<br />
                <a href="${verificationLink}">${verificationLink}</a>
                </p>

                <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Self Assessment team</p>

                <p style="font-size: 16px; color: #6f777b; line-height: 1.125; margin: 0 0 30px 0;">To stop your email reminders - go to your tax account.</p>

                <p style="font-size: 16px; color: #6f777b; line-height: 1.125; margin: 0 0 30px 0;">If you’re unsure an email comes from HM Revenue and Customs:</p>

                <ul>
                  <li style="font-size: 16px; color: #6f777b; line-height: 1.125; margin: 0 0 30px 0;">do not reply to it or click any links</li>
                  <li style="font-size: 16px; color: #6f777b; line-height: 1.125; margin: 0 0 30px 0;">forward it to phishing@hmrc.gsi.gov.uk</li>
                </ul>
              </td>
              <td width="25%">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>

