{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  
  
  <h2>Paul's prototypes</h2>

  <ul>


	  <li>Made a rough prototype of a mobile-first single column <a href="transfer-start">'Transfer a vehicle into the motor trade'</a> (VM - Dispose)</li>
	  <li>Made a prototype of Drivers Medical, 'Vision V1 Form'</li>
	  <li>Made an initital prototype of <a href="vehicle-enquiry-result+mot-full">'View a vehicle record + MOT history'</a> single page</li>
	  <li>Started making a rough prototype of <a href="vmretain-start">'Take a registration number off a vehicle'</a> (VM - Retain)</li>
    <li>Made a prototype of a couple of steps into the Dart Charge pages - <a href="dart-start-1">Start page</a> - <a href="dart-account-1">Set up an account</a> choose page - <a href="dart-account-1-1">Local account</a></li>
    <li>Prototypes for change of address:
      <ul>
      <li><a href="change-address-1">Stand alone service need to identify (not using GOV.UK Verify)</a>
      <li><a href="change-address-verify">Stand alone service using GOV.UK Verify</a>
      <li><a href="driving-licence-change-address-1">Using 'View Driving Licence', user wants to change address from here</a></li>
      <li><a href="change-address-3">User is already authenticated via access to VDL, so skips to 'new address' part</a></li>

      </ul>
      </li>
  </ul>


</main>
{{/content}}

{{/layout}}
