{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
  
  
 

  
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_vdl}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}



	
	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">




    <div id="top-ui-bits" style="padding-top:0.5em">
		<div class="" style="float:left">
			
				<a class="back-to-previous" href="vdl-details">Back <span class="visuallyhidden"> to view driving licence</span></a>

	    </div>

	    <div style="float:right;padding-top:1.2em">
	    <fieldset>
			<div>
			<a href="#" class="button" style="margin-right:0">Logout</a>
			</div>
		</fieldset>
	    </div>

		<br clear="both" />
	</div>
		

		
	<article>
	
	
	<h1 class="heading-36" style="margin-top:0">
	Share driving licence
	</h1>


	<div class="grid grid-2-3">

	<p>You can share your driving licence with an employer or vehicle hire firm, for example. </p>


	<p>You may give them the code below, plus <span style="font-weight:700"> the last 8 digits</span> of your driving licence number to verify your details. Only current endorsements, and provisional status are shared.</p>
	
	<p>The code is valid for 48 hours, and only one use.</p>


	<p style="padding:1em 0">
	<span class="sharecode">
	ABC12819
	</span>
	</p>





	<p>You may also share a PDF of this information with them, which contains the same code to allow them to verify the details.</p>

   
    
    

	</div>


	<!-- end #s -->




	<fieldset>

		

		<div class="form-group">
		<a href="vdl-share-pdf" class="button">Download PDF</a>
		</div>



	</fieldset>




	
	
	

	



</article>		

                

    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
