{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
  
  
 

  
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_vdl}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}


	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">




    <div class="grid grid-1-2">

		
		<article>
		
		
		<h1 class="heading-24" style="margin-top:3em">
		User would receive a PDF
		</h1>


		<p>Download a PDF containing a summary of the information needed to share. User can choose to:</p>

		<ul>
			<li class="list-bullet" style="margin-bottom:0">print and hand in person (replicating existing physical process) or send electronically via email</li>
			<li class="list-bullet" style="margin-bottom:0">or send digitally via email</li>
			<li class="list-bullet" style="margin-bottom:0">just hand the photocard + the code in person</li>
		</ul>




		<fieldset>

			<div class="form-group">
			<a href="verify-vdl-start" class="heading-19">Next step, as recipient of a PDF, or access code</a>
			</div>

		</fieldset>



		<div style="margin-top:3em">
			<p>
			<img src="/public/images/mockup-photocard.jpg" width="318" height="315" >
			</p>
		</div>




		</article>

	</div>





	<div class="grid grid-1-2">

		<a href="/public/images/vdl-share-pdf.pdf">
			<img src="/public/images/mockup-shared-pdf.jpg" width="444" height="643" >
			<p>Click to download</p>
		</a>



		


	</div>




	




	
	
	

	



</article>		

                

    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
