{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
{{/head}}

{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}


<div id="global-header-bar">
  <div class="inner-block">
    <div class="header-bar"></div>
  </div>
</div>
	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">

		<div id="global-breadcrumb" class="header-context">
	      <nav role="navigation">
	        <ol class="group">
	          <li><a href="#">Home</a></li>
	          <li><a href="#">Driving and transport</a></li>
			  <li><a href="#">Driving licences</a></li>
	        </ol>
	      </nav>
	    </div>
	
	
	
		<div id="block-a">
			<div style="width:60%;float:left">

			<h1 class="heading-48">Verify a shared driving licence</h1>

			<p>Use a code provided by a driver to verify the details are correct.</p>

			</div>


			<div style="width:30%;float:right">
				
				<!-- the top-tasks block should be empty? -->

			</div>

			<br clear="both" />
		</div>

	
	
	
			
		<div id="block-b" style="border-top:solid 1px #ccc">
			<div style="width:45%;float:left">

				<a href="vdl-details" class="button-get-started button" style="padding-right:2em;margin-top:25px">View now</a>

			</div>

			<div style="width:45%;float:right">

			<h1 class="heading-24" style="margin-top:25px">You'll need</h1>

			<ul>
				<li class="list-bullet" style="margin-bottom:0">the last 8 digits of their driving licence number</li>
				<li class="list-bullet" style="margin-bottom:0">the shared code</li>
			</ul>

			</div>

			<br clear="both" />
		</div>




		<!-- <div id="block-c" style="border-top:solid 1px #ccc">
			<div style="width:45%;float:left">

			<h1 class="heading-24" style="margin-top:25px">Other ways to apply</h1>

			</div>

			<div style="width:45%;float:right">

			<h1 class="heading-24" style="margin-top:25px">By phone</h1>

			<p>Telephone:<br>
			<b>0300 083 0013</b><br>
			Monday to Friday, 8am to 8:30pm<br>
			Saturday, 8am to 5:30pm<br>
			<a href="#">Find out about call charges</a></p>

			<h1 class="heading-24">By post</h1>
			<p>To see what information the DVLA holds on your driving licence you can either send <a href="#">a request form</a> or a letter with the following information to the DVLA:</p>

			<ul>
				<li class="list-bullet" style="margin-bottom:0">your full name and address</li>
				<li class="list-bullet" style="margin-bottom:0">your driver licence number (or your date of birth if you don’t know your driver number)</li>
				<li class="list-bullet" style="margin-bottom:0">You must include a cheque or postal order for £5 payable to ‘DVLA, Swansea’.</li>
			</ul>

			<p>Send your request to:</p>

			<p><b>Driver Licence Validation Service<br>
			DVRE 5<br>
			DVLA<br>
			Swansea<br>
			SA99 1AJ</b></p>

			<p>It’s a criminal offence to obtain someone else’s personal information without their permission.</p>
			</div>
		</div> -->
		

    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
